* @doximity/infra_security_reviewers @doximity/application_security_reviewers

# Infra Automation
/.circleci @doximity/infra_automation_reviewers
/.github/workflows @doximity/infra_automation_reviewers
/.github/actions @doximity/infra_automation_reviewers

EOT     
