---
layout: ""
page_title: "Provider: DefectDojo"
description: |-
  The DefectDojo provider provides resources to interact with the DefectDojo application.
---

# DefectDojo Provider

The DefectDojo provider provides resources to interact with the [DefectDojo](https://www.defectdojo.org/) application.

## Example Usage

### Basic Example

{{tffile "examples/provider/provider.tf"}}

### With Username and Password

{{tffile "examples/provider/username-provider.tf"}}

### With Environment Variables

```shell
$ export DEFECTDOJO_BASEURL="https://demo.defectdojo.org"
$ export DEFECTDOJO_APIKEY="my-api-key"
```

Or:

```shell
$ export DEFECTDOJO_BASEURL="https://demo.defectdojo.org"
$ export DEFECTDOJO_USERNAME="admin"
$ export DEFECTDOJO_PASSWORD="ebgngrguvegrra"
```

~> If environment variables and explicit arguments to the provider are both available, the explicit arguments take precedence.

{{ .SchemaMarkdown | trimspace }}
